body {
    background-color: black;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#logs {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p.log {
    margin: 0px;
    display: block;
    font-family: monospace;
    white-space: pre;
}

#stats {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    overflow-y: auto;
    display: block;
    font-family: monospace;
    white-space: pre;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid white;
}

.table_title {
    color: #55ffff;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button {
    background-color: transparent;
    color: #00cc00;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button:hover{
    color: #00ff00;
}